<?xml version="1.0" encoding="UTF-8"?><persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/persistence" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">
  <persistence-unit name="default" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
    <class>domain.user.PesanLevelMinimum</class>
    <class>domain.user.Pesan</class>
    <class>domain.penjualan.PencairanPoinPotongPiutang</class>
    <class>domain.penjualan.PencairanPoinTukarBarang</class>
    <class>domain.penjualan.PencairanPoinTukarUang</class>
    <class>domain.penjualan.PencairanPoin</class>
    <class>domain.user.User</class>
    <class>domain.penjualan.BonusPenjualan</class>
    <class>domain.penjualan.BuktiTerima</class>
    <class>domain.penjualan.FakturJualOlehSales</class>
    <class>domain.penjualan.FakturJualEceran</class>
    <class>domain.penjualan.PengeluaranBarang</class>
    <class>domain.penjualan.FakturJual</class>
    <class>domain.penjualan.Konsumen</class>
    <class>domain.penjualan.Region</class>
    <class>domain.penjualan.Sales</class>
    <class>domain.pengaturan.Pengaturan</class>
    <class>domain.faktur.BilyetGiro</class>
    <class>domain.faktur.Pembayaran</class>
    <class>domain.faktur.KewajibanPembayaran</class>
    <class>domain.faktur.Faktur</class>
    <class>domain.faktur.ItemFaktur</class>
    <class>domain.faktur.Diskon</class>
    <class>domain.pembelian.PenerimaanBarang</class>
    <class>domain.pembelian.FakturBeli</class>
    <class>domain.pembelian.Supplier</class>
    <class>domain.pembelian.PurchaseOrder</class>
    <class>domain.inventory.Satuan</class>
    <class>domain.inventory.Transfer</class>
    <class>domain.inventory.PeriodeItemStok</class>
    <class>domain.inventory.DaftarBarang</class>
    <class>domain.inventory.Produk</class>
    <class>domain.inventory.StokProduk</class>
    <class>domain.inventory.ItemStok</class>
    <class>domain.inventory.ItemBarang</class>
    <class>domain.inventory.Gudang</class>
    <class>domain.inventory.PenyesuaianStok</class>
    <properties>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost/inventory"/>
      <property name="javax.persistence.jdbc.user" value="inventory"/>
      <property name="javax.persistence.jdbc.password" value="12345"/>
      <property name="hibernate.connection.autocommit" value="false"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
      <property name="jadira.usertype.autoRegisterUserTypes" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
